!!! 5
%html.devise-layout-html{ class: system_message_class }
  = render "layouts/head"
  %body.ui-indigo.login-page.application.navless{ class: "#{client_class_list}", data: { page: body_data_page, qa_selector: 'login_page' } }
    = header_message
    = render "layouts/init_client_detection_flags"
    .page-wrap
      = render "layouts/header/empty"
      .login-page-broadcast
        = render "layouts/broadcast"
      .container.navless-container
        .content
          = render "layouts/flash"
          .row.mt-3
            .col-sm-12
              %h1.mb-3.font-weight-normal
                = current_appearance&.title.presence || "极狐GitLab"
          .row.mb-3
            .col-sm-7.order-12.order-sm-1.brand-holder
              = brand_image
              - if current_appearance&.description?
                = brand_text
              - else
                %h3.mt-sm-0
                  = _('一体化安全DevOps平台')

                %p
                  = _('极狐GitLab是一个适用于整个软件开发生命周期的单一应用程序，从项目计划、源代码管理到CI/CD、监控和安全防护，加速您的DevOps生命周期。')

                %p
                  = _('这是一个在本地托管的极狐GitLab实例。')

              - if Gitlab::CurrentSettings.sign_in_text.present?
                = markdown_field(Gitlab::CurrentSettings.current_application_settings, :sign_in_text)

              = render_if_exists 'layouts/devise_help_text'

            .col-sm-5.order-1.order-sm-12.new-session-forms-container
              = yield

      = render 'devise/shared/footer', footer_message: footer_message
